<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <div class="navbar-brand navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <a href="/" class="navbar-brand" >Start</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li> @Html.ActionLink("Kontakt", "Contact", "Home", new { }, new { @class = "navbar-brand" })</li>

            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-image d-flex text-center align-items-center shadow-1-strong mb-5 text-white "
        style="background-image: url('https://www.air-tech.com.pl/images/design/slide-1.webp'); height: 60vh;">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center ">
            <div class="col-lg-8">
                <div class="text-center my-5 ">
                    <h1 class="text-white mb-2  bg-dark rounded-pill font-weight-bold">Wypożyczalnia jachtów</h1>

                    <p class="lead  mb-4"></p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-dark btn-lg px-4 me-sm-3" href="#features">Rozpocznij</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
