@{
    ViewBag.Title = "Contact";
}

<section class="py-3" id="features">
    <div class="container px-3 my-3">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0 text-center">
                <p class="h4 fw-bolder text-center">
                    O NAS
                </p>
                <p>
                    Zajmujemy się czarterem jachtów. Świadczymy usługi na terenie kraju.
                </p>
                <p class="fw-bolder">
                    Zapraszamy do kontaktu.
                </p>
            </div>
            <div class="col-lg-6 mb-2 mb-lg-2">
                <p class="h4  fw-bolder text-center">
                    KONTAKT
                </p>
                <p>
                    <i class="ml-5 h5 bi bi-house-fill"> ul. Krzacza 1, 01-101 Krzak</i>
                </p>
                <p>
                    <i class="ml-5 h5 bi bi-telephone-fill"> 111-222-333</i>
                </p>
                <p>
                    <i class="ml-5 h5 bi bi-at"><a href="mailto:wypozyczania@jachtow.pl">wypozyczalnia@jachtow.pl</a></i>
                </p>
            </div>
        </div>
    </div>
</section>